<div style=" display: table-cell;text-align: center; vertical-align: middle;">
  <div style="position:fixed;left:0;bottom:0;right:0;padding:10px;background-color:#fafafa;">
    
    <a href="https://portal.office.com/Home" target="_blank">
      <div class="auto-style1" style="display:inline-block; position:relative;">
        <img height="38" src="assets/images/icons_email.png" width="38" style="margin-top:18px;">
        <div class="circleIconNo ">1</div>
      </div>
    </a>
      
    <a href="#">   
      <div class="auto-style1" style="display:inline-block; position:relative;">
        <img height="38" src="assets/images/icons_chat.png" width="38" style="margin-top:18px;">
        <div class="circleIconNo ">4</div>
      </div>
    </a>
    
    <a href="#">
      <div class="auto-style1" style="display:inline-block; position:relative;">
        <img height="38" src="assets/images/icons_emr.png" width="38" style="margin-top:18px;">
        <div class="circleIconNo ">1</div>
      </div>
    </a>
    
    <a href="#">
      <div class="auto-style1" style="display:inline-block; position:relative;">    
        <img height="38" src="assets/images/icons_phone.png" width="38" style="margin-top:18px;">
        <div class="circleIconNo ">1</div>
      </div>
    </a>
  
    <a href="https://iar.williamoslerhs.ca/concerto/Login.htm" target="_blank">
      <div class="auto-style1" style="display:inline-block; position:relative;">
        <img height="38" src="assets/images/icons_iar.png" width="38" style="margin-top:18px;">
      </div>
    </a>
  
    <a href="https://parc.roxysoftware.com/login.asp" target="_blank">
      <div class="auto-style1" style="display:inline-block; position:relative;">
        <img  height="38" src="assets/images/icons_roxy.png" width="38"  style="margin-top:18px;">
      </div>
    </a>

    <a href="https://demo.vconsult.me" target="_blank">
      <div class="auto-style1" style="display:inline-block; position:relative;">
        <img  height="38" src="assets/images/icons_vC.png" width="38"  style="margin-top:18px;">
      </div>
    </a>

    <a href="https://portal.office.com/Home" target="_blank">  
      <div class="auto-style1" style="display:inline-block; position:relative;">
        <img height="38" src="assets/images/icons_office.png" width="38" style="margin-top:18px;">
      </div>
    </a>
    
    <a href="https://poc.obsidix.com/" target="_blank">  
      <div class="auto-style1" style="display:none; position:relative;">
        <img  height="38" src="assets/images/icons_obsidix.png" width="38"  style="margin-top:18px;">
      </div>
    </a>

    <a href="https://poc.obsidix.com/RDWeb/"  target="_blank">
      <div class="auto-style1" style="display:inline-block; position:relative;">
        <img height="38" src="assets/images/icons_mydesctop.png" width="38" style="margin-top:18px;">
      </div>
    </a>
  
    <a href="#">  
      <div class="auto-style1" style="display:inline-block; position:relative;">
        <img height="38" src="assets/images/icons_setting.png" width="38" style="margin-top:18px;">
      </div>
    </a>
  </div>
</div>