<div style=" display: table-cell;text-align: center; vertical-align: middle;">
  <div style="position:fixed;left:0;bottom:0;right:0;padding:10px;background-color:#fafafa;">
    <div class="row">
      
      {{#each icon in icons}} 
        {{footer-icon link=icon.link img=icon.img notifications=icon.notifications}}
      {{/each}}
      
      <div class="col-lg-1">
        <a target="_blank" class="button-hover newsModal" style="cursor: pointer;">
          <div class="auto-style1" style="display:inline-block; position:relative;">
            <i class="fa fa-plus fa-3x" style="margin-top:18px;"></i>
          </div>
        </a>
      </div>

    </div>      
  </div>
</div>

{{news-modal compAction='compAddNews'}}


<script>
  $(document).ready(function(){
    $(".newsModal").click(function(){
        $("#newsModal").modal({backdrop: 'static'});
    });
  });
</script>


