<style>
/*@media screen and (min-width: 680px){
  .hide-button, .show-button{
    display: none;
    visibility: hidden;
  }
}
*/
</style>

<div class="hiding-footer" style="opacity: 1%;text-align: center; vertical-align: middle;">
  <div style="position:fixed;left:0;bottom:0;right:0;padding:10px;background-color:#fafafa;">
    <div class="row">
      <div class="col-lg-11"></div>
      <div class="col-lg-1">
        
        <a class="hide-feature">
          <div class="hide-button">
            <i class="fa fa-arrow-down"></i>
          </div>
        </a>
        
        <a class="show-feature">
          <div class="show-button">
            <i class="fa fa-arrow-up"></i>
          </div>
        </a>

      </div>
    </div>
    <div class="row" id="footer-hide">
      
      {{#each icons as |icon|}} 
        {{footer-icon link=icon.link img=icon.img notifications=icon.notifications}}
      {{/each}}
      
      <div class="footer-section" style="top:">
        <a target="_blank" class="button-hover newsModal" style="cursor: pointer;">
          <div class="auto-style1" style="display:inline-block; position:relative;top:22px;">
            <i class="fa fa-plus fa-3x" style="margin-top:18px;"></i>
          </div>
        </a>
      </div>

    </div>
  </div>
</div>

{{news-modal compAction='compAddNews'}}


<script>
  $(document).ready(function(){
    
    $(".newsModal").click(function(){
        $("#newsModal").modal({backdrop: 'static'});
    });

    $('.hide-feature').on('click', function(){
      $('#footer-hide').hide().slideUp(3000);
      //$('.fa-arrow-down').toggleClass('fa-arrow-down fa-arrow-up');
    });

    $('.show-feature').on('click', function(){
      $('#footer-hide').show().slideDown(3000);
    });

  });
</script>


