<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="documentModal" role="dialog">
    <div class="modal-dialog modal-lg">
 
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add New Document</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="docName">Document Name</label>
              {{input class="form-control" placeholder="Document Title" value=fileName}}
            </div>
            <div class="form-group">
              <label for="fileType">File Type</label>
              {{input class="form-control" placeholder="Enter File Type" value=fileType}}
            </div>
            <div class="form-group">
              <label for="fileSize">Aprox. Size</label>
              {{input class="form-control" placeholder="Enter Aprox File Size" value=fileSize}}
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" {{action 'submitDocument'}} class="btn btn-primary" data-dismiss="modal">
            Submit
          </button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>